body{
    margin: 0px;
}

.container1{
    height: 200px;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box1{
    height: 30px;
    width: 30px;
    background-color: black;
    margin: 10px;
}

.container2{
    display: flex;
    align-items: center;
}

.container3{
    display: flex;
    align-items: center;
}

.box2{
    height: 300px;
    width: 300px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3{
    height: 200px;
    width: 200px;
    background-color: green;
    position: absolute;
    right: 0px;
    bottom: 0px;
}